<body class="flex flex-col h-screen">
  <header class="shadow-sm border-b border-gray border-opacity-30">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <%= link_to root_path, class: "btn btn-ghost text-xl flex items-center font-mono text-black" do %>
        <span class="material-symbols-outlined">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#434343"><path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v260h-60v-70H180v430h320v60H180Zm0-550h600v-130H180v130Zm0 0v-130 130ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
        </span>
          Care Shift
        <% end %>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal">
          <li class="">
            <div class="w-16">
              <img src="/images/bell.svg" alt="">
            </div>
          </li>
          <li class="mr-2">
            <div class="flex-none p-0">
            <div class="dropdown dropdown-end">
              <div tabindex="0" role="button" class="btn btn-ghost">
                <div class="w-11 rounded-full hover:bg-blue hover:bg-opacity-30">
                  <img alt="" src="/images/acount.svg" class="">
                </div>
              </div>
              <div tabindex="0" class="z-[1] card card-compact dropdown-content w-44 bg-whitesmoke shadow rounded-sm">
                <div class="card-body">
                  <%= link_to logout_path, class:"btn btn-ghost btn-sm text-black text-sm hover:text-soft-blue hover:bg-purple hover:bg-opacity-10 rounded-sm", data: { turbo_method: :delete } do %>
                    ログアウト
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="flex flex-1">
    <!-- Sidebar -->
    <nav class="bg-white shadow-lg w-60 p-4 flex flex-col justify-between">
      <ul>
        <li class="mb-2">
          <%= link_to dashboard_index_path, class:"flex items-center text-sidebar hover:bg-gray-100 p-2 rounded" do %>
            <img src="/images/person.svg" alt="" class="mr-2 w-6 h-6">
            スタッフ管理
          <% end %>
        </li>
        <li class="mb-2">
          <a href="#" class="flex items-center text-sidebar hover:bg-gray-100 p-2 rounded">
            <img src="/images/check-calendar.svg" alt="" class="mr-2 w-6 h-6">
            シフト管理
          </a>
        </li>
      </ul>
      <ul>
        <div class="border-t pb-4 border-gray border-opacity-30"></div>
        <li class="mb-2">
          <a href="#" class="flex items-center text-sidebar hover:bg-gray-100 p-2 rounded">
            <img src="/images/help.svg" alt="" class="mr-2 w-6 h-6">
            お問い合わせ
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="flex items-center text-sidebar hover:bg-gray-100 p-2 rounded">
            <img src="/images/service.svg" alt="" class="mr-2 w-6 h-6">
            利用規約
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="flex items-center text-sidebar hover:bg-gray-100 p-2 rounded">
            <img src="/images/privacy.svg" alt="" class="mr-2 w-6 h-6">
            プライバシーポリシー
          </a>
        </li>
      </ul>
    </nav>
    <main class="flex-1 flex items-center justify-center bg-whitesmoke">
      <div class="bg-white shadow-lg p-6 rounded w-full max-w-md my-14">
        <div class="flex justify-between items-center mb-4 border-b border-gray-100 pb-2">
          <h2 class="text-2xl font-normal text-gray">スタッフ編集</h2>
          <%= link_to "戻る", dashboard_index_path, class: "btn btn-sm border-gray border-opacity-50 bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue" %>
        </div>
        <%= form_with(model: @employee, local: true, class: "space-y-6 pt-4") do |form| %>
      <div>
        <%= form.label :name, "名前", class: "block font-medium text-gray" %>
        <%= form.text_field :name, class: "h-8 input input-primary rounded-sm opacity-50 w-full" %>
      </div>
      <div>
        <%= form.label :employee_type, "雇用形態", class: "block font-medium text-gray" %>
        <%= form.select :employee_type, options_for_select([["選択してください", nil], "正社員", "パート", "派遣"]), {}, class: "select select-sm select-primary rounded-sm opacity-50 w-full" %>
      </div>
      <div>
        <div>
          <label class="block font-medium text-gray mb-2">勤務可能シフト</label>
        </div>
        <div class="flex items-center mb-2">
          <%= form.check_box :early_shift, class: "checkbox checkbox-primary rounded-sm w-5 h-5" %>
          <%= form.label :early_shift, "早番", class: "text-gray ml-2" %>
        </div>
        <div class="flex items-center mb-2">
          <%= form.check_box :day_shift, class: "checkbox checkbox-primary rounded-sm w-5 h-5" %>
          <%= form.label :day_shift, "日勤", class: "text-gray ml-2" %>
        </div>
        <div class="flex items-center mb-2">
          <%= form.check_box :late_shift, class: "checkbox checkbox-primary rounded-sm w-5 h-5" %>
          <%= form.label :late_shift, "遅番", class: "text-gray ml-2" %>
        </div>
        <div class="flex items-center mb-2">
          <%= form.check_box :night_shift, class: "checkbox checkbox-primary rounded-sm w-5 h-5" %>
          <%= form.label :night_shift, "夜勤", class: "text-gray ml-2" %>
        </div>
        <%= form.submit "変更", class: "btn btn-primary w-full mt-8 text-white rounded-sm text-base" %>
      </div>
    <% end %>
    </main> 
</body>