<% content_for(:title, 'スタッフ編集') %>
<body class="flex flex-col h-screen">
  <%= render 'layouts/header' %>
  <div class="flex flex-1">
    <!-- Sidebar -->
    <%= render 'layouts/employee_sidebar' %>
    <main class="flex-1 flex items-center justify-center bg-whitesmoke">
      <div class="bg-white shadow-lg p-6 rounded w-full max-w-md my-14">
        <div class="flex justify-between items-center mb-4 border-b border-gray-100 pb-2">
          <h2 class="text-2xl font-normal text-gray">スタッフ編集</h2>
          <%= link_to "戻る", dashboard_index_path, class: "btn btn-sm border-gray border-opacity-50 bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue" %>
        </div>
        <%= form_with(model: @employee, local: true, class: "space-y-6 pt-4") do |form| %>
      <div>
        <%= form.label :name, "名前", class: "block font-medium text-gray" %>
        <%= form.text_field :name, class: "input input-sm input-primary rounded-sm opacity-50 w-full" %>
      </div>
      <div>
        <%= form.label :employee_type, "雇用形態", class: "block font-medium text-gray" %>
        <%= form.select :employee_type, options_for_select([["選択してください", nil], "正社員", "パート", "派遣"]), {}, class: "select select-sm select-primary rounded-sm opacity-50 w-full" %>
      </div>
      <div>
        <div>
          <label class="block font-medium text-gray mb-2">勤務可能シフト</label>
        </div>
        <div class="flex items-center mb-2">
          <%= form.check_box :early_shift, class: "checkbox checkbox-primary rounded-sm w-5 h-5" %>
          <%= form.label :early_shift, "早番", class: "text-gray ml-2" %>
        </div>
        <div class="flex items-center mb-2">
          <%= form.check_box :day_shift, class: "checkbox checkbox-primary rounded-sm w-5 h-5" %>
          <%= form.label :day_shift, "日勤", class: "text-gray ml-2" %>
        </div>
        <div class="flex items-center mb-2">
          <%= form.check_box :late_shift, class: "checkbox checkbox-primary rounded-sm w-5 h-5" %>
          <%= form.label :late_shift, "遅番", class: "text-gray ml-2" %>
        </div>
        <div class="flex items-center mb-2">
          <%= form.check_box :night_shift, class: "checkbox checkbox-primary rounded-sm w-5 h-5" %>
          <%= form.label :night_shift, "夜勤", class: "text-gray ml-2" %>
        </div>
        <%= form.submit "変更", class: "btn btn-primary w-full mt-8 text-white rounded-sm text-base" %>
      </div>
    <% end %>
    </main> 
</body>