<header class="shadow-sm">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to root_path, class: "btn btn-ghost text-xl flex items-center font-mono text-black" do %>
      <span class="material-symbols-outlined">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#434343"><path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v260h-60v-70H180v430h320v60H180Zm0-550h600v-130H180v130Zm0 0v-130 130ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
      </span>
        Care Shift
      <% end %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li class="mr-2">
          <%= link_to login_path, class: "btn border-blue bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue px-7" do %>
          ログイン
          <% end %>
        </li>
        <li class="mr-2">
          <%= link_to new_user_path, class: "btn btn-primary px-7 text-white rounded hover:text-blue hover:bg-white" do %>
          新規登録
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
<%= render 'layouts/flash_messages' %>
<div class="hero min-h-screen bg-whitesmoke">
  <div class="w-screen px-4 my-12 max-w-sm">
    <div class="">
      <h1 class="text-3xl font-bold text-center mb-4 text-black">新規登録</h1>
    </div>
    <div class="card bg-base-100 shadow-xl z-20 rounded">
      <div class="card-body">
        <%= form_with model: @user do |f| %>
        <div class="pb-4 pl-4"> 
          <%= f.label :メールアドレス, class: ""%>
          <%= f.text_field :email, class: "input input-bordered flex items-center gap-2 rounded w-64 border-gray-100 focus:outline-none", placeholder: "email" %>
        </div>
        <div class="pb-4 pl-4">
          <%= f.label :パスワード, class: ""%>
          <%= f.password_field :password, class: "input input-bordered flex items-center gap-2 rounded w-64 border-gray-100 focus:outline-none", placeholder: "password" %>
        </div>
        <div class="pb-8 pl-4">
          <%= f.label :パスワード確認, class: ""%>
          <%= f.password_field :password_confirmation, class: "input input-bordered flex items-center gap-2 rounded w-64 border-gray-100 focus:outline-none", placeholder: "password_confirmation" %>
        </div>
        <div class="card-actions items-center pl-4 pb-4">
          <%= f.submit "登録", class: "btn btn-primary text-white rounded hover:bg-navy hover:underline btn-wide" %>
        </div>
        <% end %>
        <div class="text-xs text-right pr-4 pt-4">
          <span>すでに登録済みの方は</span><%= link_to :'こちら', login_path, class: 'text-blue hover:border-b' %>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer footer-center p-10 rounded text-gray text-opacity-50">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
    <a class="link link-hover">お問い合わせ</a>
  </nav> 
  <aside>
    <p>Copyright © 2024 - Care Shift</p >
  </aside>
</footer>