<body class="flex flex-col h-screen">
  <header class="shadow-sm border-b border-gray border-opacity-30">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <%= link_to root_path, class: "btn btn-ghost text-xl flex items-center font-mono text-black" do %>
        <span class="material-symbols-outlined">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#434343"><path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v260h-60v-70H180v430h320v60H180Zm0-550h600v-130H180v130Zm0 0v-130 130ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
        </span>
          Care Shift
        <% end %>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal">
          <li class="">
            <div class="w-16">
              <img src="/images/bell.svg" alt="">
            </div>
          </li>
          <li class="mr-2">
            <div class="flex-none p-0">
            <div class="dropdown dropdown-end">
              <div tabindex="0" role="button" class="btn btn-ghost">
                <div class="w-11 rounded-full hover:bg-blue hover:bg-opacity-30">
                  <img alt="" src="/images/acount.svg" class="">
                </div>
              </div>
              <div tabindex="0" class="z-[1] card card-compact dropdown-content w-44 bg-whitesmoke shadow rounded-sm">
                <div class="card-body">
                  <%= link_to logout_path, class:"btn btn-ghost btn-sm text-black text-sm hover:text-soft-blue hover:bg-purple hover:bg-opacity-10 rounded-sm", data: { turbo_method: :delete } do %>
                    ログアウト
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="flex flex-1 overflow-hidden">
    <!-- Sidebar -->
    <nav class="bg-white shadow-lg w-60 p-4 flex flex-col justify-between h-full">
      <ul>
        <li class="mb-2">
          <%= link_to dashboard_index_path, class:"flex items-center text-sidebar hover:bg-gray-100 p-2 rounded" do %>
            <img src="/images/person.svg" alt="" class="mr-2 w-6 h-6">
            スタッフ管理
          <% end %>
        </li>
        <li class="mb-2">
          <%= link_to shifts_path, class: "flex items-center text-sidebar bg-gray-100 p-2 rounded" do %>
          <img src="/images/check-calendar.svg" alt="" class="mr-2 w-6 h-6">
          シフト管理
        <% end %>
        </li>
      </ul>
      <ul>
        <div class="border-t pb-4 border-gray border-opacity-30"></div>
        <li class="mb-2">
          <a href="#" class="flex items-center text-sidebar hover:bg-gray-100 p-2 rounded">
            <img src="/images/help.svg" alt="" class="mr-2 w-6 h-6">
            お問い合わせ
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="flex items-center text-sidebar hover:bg-gray-100 p-2 rounded">
            <img src="/images/service.svg" alt="" class="mr-2 w-6 h-6">
            利用規約
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="flex items-center text-sidebar hover:bg-gray-100 p-2 rounded">
            <img src="/images/privacy.svg" alt="" class="mr-2 w-6 h-6">
            プライバシーポリシー
          </a>
        </li>
      </ul>
    </nav>
    <main class="flex-1">
      <%= render 'layouts/flash_messages' %>
      <%= form_with url: update_schedule_path(year: @year, month: @month), method: :patch, local: true do |form| %>
        <div class="flex justify-between">
          <div class="flex items-center">
            <h1 class="text-xl font-semibold text-gray ml-6 mt-4">シフト編集</h1>
          </div>
          <div class="flex">
            <%= form.hidden_field :year, value: @year %>
            <%= form.hidden_field :month, value: @month %>
            <%= form.submit 'シフトを変更する', class: "btn btn-sm border-gray border-opacity-50 bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue px-7 ml-auto mt-4 mr-2" %>
            <%= link_to "戻る", shifts_path, class: "btn btn-sm border-gray border-opacity-50 bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue px-2 ml-auto mt-4 mr-6" %>
          </div>
        </div>
        <div class="max-w-6xl h-144 mr-4 my-3 mx-6 overflow-y-auto overflow-auto">
          <table class="table-fixed w-full border-separate border-spacing-0">
            <thead>
              <tr>
                <th class="p-1 w-40 sticky left-0 z-20 bg-white border-r border-gray-100"></th>
                <% @calendar.each do |c| %>
                  <td class="border border-gray-100 p-1 w-12 text-gray text-center sticky top-0 z-10 bg-white font-semibold">
                    <%= "#{c.month}/#{c.day}" %>
                  </td>
                <% end %>
              </tr>
            </thead>
            <thead>
              <tr>
                <th class="p-1 sticky left-0 z-20 bg-white border-r border-gray-100"></th>
                <% @calendar.each do |c| %>
                  <% if c.wday == 0 %>
                    <td class="border border-gray-100 p-1 text-red text-center sticky top-8 z-10 bg-white font-semibold">
                      <%= @weeks[c.wday] %>
                    </td>
                  <% elsif c.wday == 6 %>
                    <td class="border border-gray-100 p-1 text-blue text-center sticky top-8 z-10 bg-white font-semibold">
                      <%= @weeks[c.wday] %>
                    </td>
                  <% else %>
                    <td class="border border-gray-100 text-gray p-1 text-center sticky top-8 z-10 bg-white font-semibold">
                      <%= @weeks[c.wday] %>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            </thead>
            <thead>
              <tr>
                <th class="sticky left-0 z-20 bg-white border border-gray-100 text-center text-gray py-10">委員会 <br> 予定 <br> 行事</th>
                <% @calendar.each do |c| %>
                  <td class="border border-gray-100 p-2">
                    <%= form.text_area "memos[#{c}]", class: "vertical-textarea text-gray text-sm", value: @memos[c]&.content %>
                  </td>
                <% end %>
              </tr>
            </thead>
            <% @employees.each do |e| %>
            <thead>
              <tr>
                <% if e.employee_type == '正社員' %>
                  <th class="sticky left-0 z-20 bg-white border border-gray-100 p-2 text-center text-blue"><%= e.name %></th>
                <% elsif e.employee_type == 'パート' %>
                  <th class="sticky left-0 z-20 bg-white border border-gray-100 p-2 text-center text-soft-green"><%= e.name %></th>
                <% else %>
                  <th class="sticky left-0 z-20 bg-white border border-gray-100 p-2 text-center text-gray"><%= e.name %></th>
                <% end %>
                <% @calendar.each do |c| %>
                <td class="border border-gray-100 p-2 text-center">
                  <% if @shifts[e.id] %>
                    <% shift = @shifts[e.id].find { |s| s.date == c } %>
                    <% current_shift = case shift&.shift_type
                       when "早番" then "H"
                       when "日勤" then "N"
                       when "遅番" then "O"
                       when "夜勤", "夜勤明け" then "Y"
                       when "休み" then "⚫️"
                       else ""
                       end %>
                    <%= form.select "shifts[#{e.id}][#{c}]",
                        [["", ""], ["H", "H"], ["N", "N"], ["O", "O"], ["Y", "Y"], ["⚫️", "⚫️"]],
                        { selected: current_shift },
                        class: "text-xs w-full p-0"
                    %>
                  <% end %>
                </td>
                <% end %>
              </tr>
            </thead>
            <% end %>
          </table>
        </div>
      <% end %>
    </main>
  </div>
</body>
