<% content_for(:title, 'シフト作成') %>
<body class="flex flex-col h-screen">
  <%= render 'layouts/header' %>
  <div class="flex flex-1 overflow-hidden">
    <!-- Sidebar -->
    <%= render 'layouts/shift_sidebar' %>
    <main class="flex-1">
      <%= render 'layouts/flash_messages' %>
      <div class="flex justify-end">
        <%= form_with url: create_schedule_path, method: :post, local: true do |form| %>
          <%= form.hidden_field :year, value: @year %>
          <%= form.hidden_field :month, value: @month %>
          <%= form.submit 'シフト作成', class: "btn btn-sm border-gray border-opacity-50 bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue px-7 ml-auto mt-4 mr-6" %>
        <% end %>
      </div>
      <div class="max-w-6xl h-144  mr-4 my-3 mx-6 overflow-y-auto overflow-auto">
        <table class="table-fixed w-full border-separate border-spacing-0">
          <thead>
            <tr>
              <th class="p-1 w-40 sticky left-0 z-20 bg-white border-r border-gray-100"></th>
              <% @calendar.each do |c| %>
                <td class="border border-gray-100 p-1 w-12 text-gray text-center sticky top-0 z-10 bg-white font-semibold">
                  <%= "#{c.month}/#{c.day}" %>
                </td>
              <% end %>
            </tr>
          </thead>
          <thead>
            <tr>
              <th class="p-1 sticky left-0 z-20 bg-white border-r border-gray-100"></th>
              <% @calendar.each do |c| %>
                <% if c.wday == 0 %>
                  <td class="border border-gray-100 p-1 text-red text-center sticky top-8 z-10 bg-white font-semibold">
                    <%= @weeks[c.wday] %>
                  </td>
                <% elsif c.wday == 6 %>
                  <td class="border border-gray-100 p-1 text-blue text-center sticky top-8 z-10 bg-white font-semibold">
                    <%= @weeks[c.wday] %>
                  </td>
                <% else %>
                  <td class="border border-gray-100 text-gray p-1 text-center sticky top-8 z-10 bg-white font-semibold">
                    <%= @weeks[c.wday] %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </thead>
          <thead>
            <tr>
              <th class="sticky left-0 z-20 bg-white border border-gray-100 text-center text-gray py-10">委員会 <br> 予定 <br> 行事</th>
              <% @calendar.each do |c| %>
              <td class="border border-gray-100 p-2 vertical-textarea text-gray">
                <%= @memos[c]&.content %>
              </td>
              <% end %>
            </tr>
          </thead>
          <% @employees.each do |e| %>
          <thead>
            <tr>
              <% if e.employee_type == '正社員' %>
                <th class="sticky left-0 z-20 bg-white border border-gray-100 p-2 text-center text-blue"><%= e.name %></th>
              <% elsif e.employee_type == 'パート' %>
                <th class="sticky left-0 z-20 bg-white border border-gray-100 p-2 text-center text-soft-green"><%= e.name %></th>
              <% else %>
                <th class="sticky left-0 z-20 bg-white border border-gray-100 p-2 text-center text-gray"><%= e.name %></th>
              <% end %>
              <% @calendar.each do |c| %>
              <td class="border border-gray-100 p-2 text-center text-black">
                <% shift_request = @shift_requests[e.id]&.find { |s| s.date == c } %>
                <%= shift_request ? format_display_shift_type(shift_request.shift_type) : '' %>
              </td>
              <% end %>
            </tr>
            </div>
          </thead>
          <% end %>
        </table>
      </div>
    </main>
  </div>
</body>
