<header class="shadow-sm">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to root_path, class: "btn btn-ghost text-xl flex items-center font-mono text-black" do %>
      <span class="material-symbols-outlined">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#434343"><path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v260h-60v-70H180v430h320v60H180Zm0-550h600v-130H180v130Zm0 0v-130 130ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
      </span>
        Care Shift
      <% end %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li class="mr-2">
          <%= link_to login_path, class: "btn border-blue bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue px-7" do %>
          ログイン
          <% end %>
        </li>
        <li class="mr-2">
          <%= link_to new_user_path, class: "btn btn-primary px-7 text-white rounded hover:text-blue hover:bg-white" do %>
          新規登録
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
<%= render 'layouts/flash_messages' %>
<main class="hero min-h-screen flex items-center justify-center bg-whitesmoke">
  <div class="bg-white shadow-lg p-6 rounded w-full max-w-md">
    <div class="flex justify-between items-center mb-6 border-b border-gray-100 pb-2">
      <h2 class="text-2xl font-normal text-gray">ログイン</h2>
      <%= link_to "新規登録はこちら", new_user_path, class: "btn btn-sm border-gray border-opacity-50 bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue" %>
    </div>
    <%= form_with url: login_path, method: :post do |f| %>
      <div class="pt-4">
        <%= f.label :メールアドレス, class: "block font-medium text-gray"%>
        <%= f.text_field :email, class: "input input-sm input-primary rounded-sm opacity-50 w-full" %>
      </div>
      <div class="pt-4">
        <%= f.label :パスワード, class: "block font-medium text-gray"%>
          <%= f.password_field :password, class: "input input-sm input-primary rounded-sm opacity-50 w-full" %>
      </div>
      <div class="pt-12">
        <%= f.submit "ログイン", class: "btn btn-primary w-full text-white rounded-sm text-base" %>
      </div>
    <% end %>
  </div>
</main>
<%= render 'layouts/footer' %>